.outer-container{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    margin:100px auto;
}
.inner-container{
    width: 200px;
    height: 200px;
    background-color: brown;
    color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
   /* transform: scale(1.5);*/

    /* SCALE*/
   /* transform : scaleX(1.5);*/
  /* transform: scaleX(1.5) scaleY(2);*/
 /* transform: scale(1.5,2)*/

 /*SKEW*/
/* transform: skew(25deg,25deg);*/
 /* TRANSLATE*/
 /*transform: translate(20px,60px);*/
 /*transform: translate(50%);

 ROTATE */
/* transform: rotate(55deg);
 transform: rotateX('50deg');
transform-origin:25%;*/
transform-origin: 40% 20%;
transition: 0.6s ease;


}
.inner-container:hover{
    transform: rotate(70deg);
}