body{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color:black;
    background-color:whitesmoke;
}
article{
    background-color: blueviolet;
    color: white;
    padding: 45px;
    margin:45px;
    font-size: 16px;
    border-radius: 5%;
}